#gallery {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 100%;
    margin: 20px 54px;
}

.gallery-inner h2 {
    margin: 0;
    padding: 10px;
    font-weight: 100;
    font-size: 18px;
}

.gallery-inner h2 .fa {
    margin-right: 1em;
}

.gallery-current-page {
    font-weight: 400;
    font-size: 22px;
}

.gallery-pages-count {
    font-weight: 100;
    font-size: 12px;
    margin-left: 0.2em;
    color: rgba(255, 255, 255, 0.7);
}

.gallery-nav-button  {
    position: absolute;
    top: 50%;
    width: 42px;
    height: 42px;
    text-align: center;
    margin-top: -21px;
}

#gallery-right-arrow {
    left: 100%;
}

#gallery-left-arrow {
    right: 100%;
}

.gallery-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gallery-skills > ul {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.gallery-skills > ul:nth-child(2),
.gallery-skills > ul:nth-child(3) {
  background: rgba(130, 80, 165, 0.08);
}

.gallery-skills li + li {
  margin-top: 8px;
}

.major-skill {
  font-weight: 600;
}

.cv-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cv-section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
}

.cv-section:nth-child(even) {
    background: rgba(130, 80, 165, 0.08);
}

.cv-section h3 {
    margin: 10px 0 0;
    width: 100%;
}

.cv-details {
} 

.cv-date {
    color: #666;
}

.cv-comment {
    background: #EEE;
    color: #AAA;
    border-bottom: 1px solid #DDD;
    padding: 5px 20px;
    font-weight: 100;
    font-size: 11px;
    margin: 10px 0;
    text-align: right;
}

.cv-comment .fa {
    margin-left: 1em;
}

.gallery-likes {
    font-weight: 200;
    padding: 0 20px;
}

.gallery-likes li {
    background: rgba(130, 80, 165, 0.08);
    border-radius: 12px;
    padding: 6px 15px;
    text-align: center;
}

.gallery-likes li + li {
    margin-top: 10px;
}

.gallery-likes li strong {
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}