/*#FF0013, #FF9713, #FFE213, #2DCE13, #47C6FF, #5900AB;*/

#end-message-modal-container {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  top: 80px;
  justify-content: space-around;
  align-items: center;
  transition: all 2s ease;
}

#end-message-modal {
  background: #5900AB;
  color: #F2F2F2;
  width: 400px;
  height: 200px;
  border-radius: 2px;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transition: all 2s ease;
}

#button-container {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  padding-top: 20px;
}

#button-container button {
  background: #5900AB;
  color: #F2F2F2;
}

#button-container button:hover {
  color: #FF0013;
}
