#gallery {
  position: absolute;
  top: 80px;
  background: transparent;
  color: #f0f0f0;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  font-size: 16px;
}

#gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

#gallery-content {
  margin: 0 auto;
  flex: 1;
}

#gallery-arrow-left {
  padding-left: 20px;
}
#gallery-arrow-right {
  padding-right: 20px;
}

#gallery p, #gallery span {
  line-height: 50px;
}

#gallery-footer {
  display: block;
  position: absolute;
  bottom: 0;
}

#gallery-footer p{
  display: inline-block;
}

.ul-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
}

.ul-container ul {
  flex: 1;
  padding: 0 45px;
}

.comment {
  font-size: 14px;
  margin: -30px 0 0 113px;
}

[id^="rub-"] h2 {
  margin-bottom: 30px;
}

[id^="rub-"] i {
  margin-right: 20px;
}

[id^="rub-"] h2, [id^="rub-"] span {
    color: #5900AB;
}

[id^="rub-"] span {
  margin-right: 20px;
}

ul + ul {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
