#gallery {
  position: absolute;
  top: 80px;
  background: transparent;
  color: #f0f0f0;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  font-size: 20px;
}

#gallery-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery-content {
  margin: 0 auto;
}

#gallery-arrow-left {
  padding-left: 20px;
}
#gallery-arrow-right {
  padding-right: 20px;
}

.ul-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
}

.comment {
  margin-left: 135px;
  max-height: 20px;
  line-height: 0px;
  font-size: 16px;
}

[id^="rub-"] h2 {
  margin-bottom: 30px;
}

[id^="rub-"] i {
  margin-right: 20px;
}

[id^="rub-"] h2, [id^="rub-"] span {
    color: #5900AB;
}

[id^="rub-"] span {
  margin-right: 20px;
}
