/* Créer par Luke Meyrick (src: codepen - https://codepen.io/lukemeyrick/pen/eEyqVN) */
#rainbow-container {
    position: fixed;
    top: 40px;
    display: flex;
    height: 100%;
    width: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.rainbow {
  width: 20vw;
  height: 10vw;
  overflow: hidden;
  position: relative;
}

.rainbow .bow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20vw;
  box-sizing: content-box;
}

.rainbow .bow:before {
  content: '';
  position: absolute;
  border: 11px solid transparent;
  transform: rotate(-45deg);
  border-radius: 50%;
}

.rainbow .bow:nth-of-type(1) {
  animation: bow 2.5s cubic-bezier(0.46, 0.1, 0.25, 1) infinite 0.05555556s;
}

.rainbow .bow:nth-of-type(1):before {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-bottom-color: #e36759;
  border-left-color: #e36759;
}

.rainbow .bow:nth-of-type(2) {
  animation: bow 2.5s cubic-bezier(0.46, 0.1, 0.25, 1) infinite 0.11111111s;
}

.rainbow .bow:nth-of-type(2):before {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border-bottom-color: #f8cb4e;
  border-left-color: #f8cb4e;
}

.rainbow .bow:nth-of-type(3) {
  animation: bow 2.5s cubic-bezier(0.46, 0.1, 0.25, 1) infinite 0.16666667s;
}

.rainbow .bow:nth-of-type(3):before {
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border-bottom-color: #87b974;
  border-left-color: #87b974;
}

.rainbow .bow:nth-of-type(4) {
  animation: bow 2.5s cubic-bezier(0.46, 0.1, 0.25, 1) infinite 0.22222222s;
}

.rainbow .bow:nth-of-type(4):before {
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border-bottom-color: #59aaf2;
  border-left-color: #59aaf2;
}

.rainbow .bow:nth-of-type(5) {
  animation: bow 2.5s cubic-bezier(0.46, 0.1, 0.25, 1) infinite 0.27777778s;
}

.rainbow .bow:nth-of-type(5):before {
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  border-bottom-color: #6a5dbd;
  border-left-color: #6a5dbd;
}

.rainbow .bow:nth-of-type(6) {
  animation: bow 2.5s cubic-bezier(0.46, 0.1, 0.25, 1) infinite 0.33333333s;
}

.rainbow .bow:nth-of-type(6):before {
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  border-bottom-color: #9350b6;
  border-left-color: #9350b6;
}

@keyframes bow {
  0%, 5% {
    transform: rotate(0);
  }
  
  40%, 60% {
    transform: rotate(180deg);
  }
  
  95%, 100% {
    transform: rotate(360deg);
  }
}
