/* OPENING MODAL */

.opening-modal-action {
    font-size: 16px;
    font-weight: 100;
}

#opening-modal {
  position: absolute;
  top: 80px;
  background: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
}

#opening-modal.hide {
  display: none;
}

/* ENDING MODAL */

#ending-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

#ending-modal-container.hide {
  display: none;
}

#ending-modal {
  width: 400px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
}

#ending-modal .score-label {
  font-size: 16px;
}

#ending-modal .score-value {
  font-weight: 600;
  font-size: 38px;
  margin-left: 12px;
}

#message {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
}

.modal {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  font-size: 14px;
  border-top: 1px dotted rgba(255, 255, 255, 0.15);
}

.modal-body {
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  color: #8250A5;
  flex: 2;
  font-size: 13px;
}