#opening-modal {
  position: absolute;
  top: 80px;
  background: transparent;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#opening-modal button {
  width: 200px;
  background: transparent;
  color: #f0f0f0;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

#opening-modal button + button {
  border-left: 2px solid #f0f0f0;
}

#opening-modal button:hover {
  color: #5900AB;
}
