#opening-modal {
  position: absolute;
  top: 0;
  justify-content: space-around;
  align-items: center;
  overflow: hidden
}

#opening-modal button {
  width: 200px;
  background: #5900AB;
  color: #F2F2F2;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#opening-modal button:hover {
  background: #47C6FF;
}
