#rub-win {
  position: absolute;
  background-color: #d90d0d;
  margin-top: 20px;
  top: 0;
  align-items: center;
}

#rub-win-content {
  flex: 1;
}

#rub-win-arrow-left {
  padding-left: 10px;
}
#rub-win-arrow-right {
  padding-right: 10px;
}
