body {
  margin: 0;
  background-color: #F2F2F2;
  background: linear-gradient(#5189ba, #4F2C64); /* Standard syntax */
  color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  transition: all 2s ease;
}

header {
  width: 100%;
  margin: 0;
  background: #5189ba;
  height: 80px;
}

h1 {
  margin: 0 0 0 30px;
  line-height: 80px;
}

h2 {
  margin: 20px 0 0 0;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 50px;
  border: none;
  vertical-align: middle;
  color: #f0f0f0;
  background: transparent;
  transition: all 2s ease;
}

button:hover, button:active, button:focus  {
  outline: none;
}

button:hover {
  color: #5900AB;
}

button i {
  vertical-align: middle;
  float: left;
  margin: 5px;
}

p, span {
  height: 50px;
  line-height: 50px;
  margin: 5px;
}

ul {
  display: inline;
  min-width: 200px;
  flex: 1;
}

li {
  min-height: 50px;
}

.flex {
  display: flex;
}

.show {
  display: block;
}

.hide {
  display: none;
}
