body {
  margin: 0;
  background-color: #F2F2F2;
  color: #363636;
  font-family: 'Roboto', sans-serif;
  transition: all 2s ease;
}

header {
  width: 100%;
  background: #f9dc19;
  margin: 0;
  height: 80px;
}

h1 {
  margin: 0 0 0 30px;
  line-height: 80px;
}

h2 {
  margin: 20px 0 0 0;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 50px;
  border: none;
  vertical-align: middle;
  color: #5900AB;
  background: #F2F2F2;
  transition: all 2s ease;
}

button:hover, button:active, button:focus  {
  outline: none;
}

button:hover {
  color: #47C6FF;
}

button i {
  vertical-align: middle;
  float: left;
  margin: 5px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

p {
  min-height: 20px;
  margin: 5px;
}

/*.comments {
  font-size: 12px;
}

div[id^="rub-"] {
  transition: all 1s ease-in-out;
}

ul {
  padding-right: 10px;
}

li {
  padding: 5px 0;
  width: auto;
}

.right-container, .left-container {
  margin: 0 10px;
  min-width: 300px;
}

#game-container {
  position: relative;
}

.row {
  display: flex;
}

.row ul {
  width: 50%;
}*/
